*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #DDD1C7;
    --secondary-color: #C2CFB2;
    --accent1-color: #8DB580;
    --accent2-color: #7E8987;
    --color-fuente: #000000;

}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    place-items: center;
    background-color: var(--secondary-color);
}

img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
}

span {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
}

main {
    display: flex;
    justify-content: space-around;
    gap: 200px;
}

footer {
    background-color: var(--secondary-color);
}

.content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}

.content-form {
    background-color: var(--primary-color);
    padding: 2.5rem;
}

.social-network {
    display: flex;
    gap: 20px;
}
.social-network img {
    width: 20px;
    height: 20px;

}
.info-rafting img{
    width: 32px;
    height: auto;
}

.info-rafting {
    display: flex;
    flex-direction: column;
    background-color: var(--accent2-color);
    gap: 100px;
    padding: 2rem;
    border-radius: 10px;
}

.map {
    padding: 2rem;
}