:root {

    --primary-color: DDD1C7;
    --secondary-color: C2CFB2;
    --accent1-color: 8DB580;
    --accent2-color: 7E8987;
    

    body {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
    }
    a {
        text-decoration: none;
    }

}
.art {
    background-color: rgb(79, 183, 235, 0.8);
    width: 900px;
    height: auto;
    padding: 2rem;
    position: absolute;
    top: 400px;
    left: 300px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 300px;
    left: 300px;
    background-color: white;
}

.art img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px gray;
    float: right;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.nav-header {
    display: flex;
    
}

.nav-header a {
    padding: 1rem;
    margin: 0.5rem;
}